<!DOCTYPE html >
<!--[if lt IE 7]>      <html lang="en" ng-app="myAppAdmin" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myAppAdmin" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myAppAdmin" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myAppAdmin" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="../bower_components/html5-boilerplate/dist/css/main.css">
    <link href="../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="admin.css">
    <script src="../bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../bower_components/ngDatepicker/src/css/ngDatepicker.css">
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="../bower_components/ngDatepicker/src/js/ngDatepicker.min.js"></script>
    <script src="../login/login.js"></script>
    <script src="admin.js"></script>
</head>
<body ng-app="myAppAdmin">
    <div class="myBody" ng-controller="appControllerAdmin">
        <div >
            <div class="row">
                <div class="col-md-4 tag" ng-style="{'background-color':'#e6e1da', 'color':'#0581a5'}">
                    <h3>QUẢN LÝ CHUYẾN BAY</h3>
                </div>
                <div class="col-md-4 tag" >
                </div>
                <div class="col-md-4 tag" >
                </div>
            </div>
        </div>

        <div>
            <div class="row btn-category-ticket">
                <div class="col-md-1 ">
                    <button type="button" id="btnKH" class="btn btn-default " ng-style="{'background-color':'#207DA5'}" ng-click="setFlightDirectionKH()" ng-show="hidden">Khứa hồi</button>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-1">
                    <button type="button" id="btnMC" class="btn btn-default" ng-click="setFlightDirectionMC()" ng-show="hidden">Một chiều</button>
                </div>
                <div class="col-md-9"></div>
            </div>
            <div class="row btn-category-ticket">
                <div class="col-md-3 flight-to">
                    <p class="flight-to-text">Mã Chuyến Bay: {{flight.id}} </p>
                    <input type="number" ng-model="flight.id" min="1">
                </div>
                <div class="col-md-3 flight-to">
                    <p class="flight-to-text">Nơi đi: {{go}} </p>
                    <button type="button" class="btn btn-info " data-toggle="modal" data-target="#myModalFlightTo" ng-click="loadFlightTo()">Chọn điểm đi</button>
                    <p class="flight-to-text">Nơi đến: {{arrive}} </p>
                    <button type="button" class="btn btn-info " data-toggle="modal" data-target="#myModalFlightArrive" ng-click="loadFlightArrive()">Chọn điểm đến</button>
                </div>
                <div class="col-md-3 flight-to">
                    <p class="flight-to-text">Ngày đi: {{flight.dateTo}} </p>
                    <ng-datepicker ng-model="flight.dateTo" format="DD/MM/YYYY" view-format="DD/MM/YYYY" ng-click="getDateTo(flight.dateTo)">
                    </ng-datepicker>
                </div>
                <div class="col-md-3 flight-to">
                    <p class="flight-to-text">Giờ đi: {{flight.timesGo}}</p>
                    <input type="text" ng-model="flight.timesGo">
                    <p class="flight-to-text">Giờ đến: {{flight.timesArrive}}</p>
                    <input type="text" ng-model="flight.timesArrive">
                </div>
            </div>
            <div class="row btn-category-ticket">
                <div class="col-md-3 flight-to">
                    <p class="flight-to-text">Số ghế: {{flight.people}} </p>
                    <input type="number" ng-model="flight.people" min="1">
                </div>
                <div class="col-md-3 flight-to">
                    <p class="flight-to-text">Hạng vé: {{flight.ticketCategories}} </p>
                    <select class="form-control" ng-model="flight.ticketCategories" >
                        <option>Y</option>
                        <option>C</option>
                    </select>
                </div>
                <div class="col-md-3 flight-to">
                    <p class="flight-to-text">Mức giá: {{flight.MG}} </p>
                    <select class="form-control" ng-model="flight.MG">
                        <option>E</option>
                        <option>F</option>
                        <option>G</option>
                    </select>
                </div>
                <div class="col-md-3 flight-to">
                    <p class="flight-to-text">Giá: {{flight.G}} </p>
                    <input type="number" ng-model="flight.G" min="1">
                </div>
            </div>

            <div class="row btn-category-ticket">
                <div class="col-md-3 flight-to">
                    <button type="button" class="btn btn-info btn-lg mybtn" data-toggle="modal" data-target="#thanhcong" ng-click="addFlight(flight)">THÊM</button>
                </div>
                <div class="col-md-3 flight-to">
                    <button type="button" class="btn btn-info btn-lg mybtn" data-toggle="modal" data-target="#xoa" ng-click="deleteFlight()">XÓA</button>
                </div>
                <div class="col-md-3 flight-to">
                    <button type="button" class="btn btn-info btn-lg mybtn" data-toggle="modal" data-target="#sua" ng-click="updateFlight(flight)">SỬA</button>
                </div>
                <div class="col-md-3 flight-to">

                </div>
            </div>
    </div>

        <div class="table-result">
            <div >
                <div>
                    <h3>DANH SÁCH CHUYẾN BAY</h3>
                </div>
                <table class="table table-bordered">
                    <tr  class="row-title">
                        <td>Mã chuyến bay</td>
                        <td>Nơi đi</td>
                        <td>Nơi đến</td>
                        <td>Ngày đi</td>
                        <td>Giờ đi</td>
                        <td>Giờ đến</td>
                        <td>Số ghế</td>
                        <td>Hạng vé</td>
                        <td>Mức giá</td>
                        <td>Giá vé</td>
                    </tr>
                    <tr ng-repeat="Flight in Flights" class="row-item">
                        <td>{{Flight.MaChuyenBay}}</td>
                        <td>{{Flight.TenSanBayDi}}</td>
                        <td>{{Flight.TenSanBayDen}}</td>
                        <td>{{Flight.NgayBay}}</td>
                        <td>{{Flight.GioKhoiHanh}}</td>
                        <td>{{Flight.GioDen}}</td>
                        <td>{{Flight.SoLuongGhe}}</td>
                        <td>{{Flight.Hang}}</td>
                        <td>{{Flight.MucGia}}</td>
                        <td>{{Flight.GiaBan}} <input type="radio" name="group1" ng-click="getTicketTo(Flight)"></td>
                    </tr>
                </table>

            </div>
        </div>

        <div class="table-result">
            <div >
                <div>
                    <h3>TÌNH TRẠNG ĐẶT VÉ</h3>
                </div>
                <table class="table table-bordered">
                    <tr  class="row-title">
                        <td>Mã đặt chổ</td>
                        <td>Mã chuyến bay</td>
                        <td>Ngày</td>
                        <td>Hạng</td>
                        <td>Mức giá</td>
                    </tr>
                    <tr ng-repeat="Booking in Bookings" class="row-item">
                        <td>{{Booking.MaDatCho}}</td>
                        <td>{{Booking.MaChuyenBay}}</td>
                        <td>{{Booking.Ngay}}</td>
                        <td>{{Booking.Hang}}</td>
                        <td>{{Booking.MucGia}}</td>
                    </tr>
                </table>

            </div>
        </div>

        <!-- Modal Flight To -->
        <div id="myModalFlightTo" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Mời quý khách chọn địa điểm đi</h4>
                    </div>
                    <div class="modal-body">
                        <h5>Miền Bắc</h5>
                        <div ng-repeat='FlightToMB in FlightToMBs'>
                            <a ng-click="setFlightTo(FlightToMB.MaSanBay,FlightToMB.TenSanBay)" href="" data-dismiss="modal">{{FlightToMB.TenSanBay}}</a>
                        </div>

                        <h5>Miền Trung</h5>
                        <div ng-repeat='FlightToMT in FlightToMTs'>
                            <a ng-click="setFlightTo(FlightToMT.MaSanBay,FlightToMT.TenSanBay)" href="" data-dismiss="modal">{{FlightToMT.TenSanBay}}</a>
                        </div>

                        <h5>Miền Nam</h5>
                        <div ng-repeat='FlightToMN in FlightToMNs'>
                            <a ng-click="setFlightTo(FlightToMN.MaSanBay,FlightToMN.TenSanBay)" href="" data-dismiss="modal">{{FlightToMN.TenSanBay}}</a>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    </div>
                </div>

            </div>
        </div>

        <!-- Modal Flight Arrive -->
        <div id="myModalFlightArrive" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Mời quý khách chọn địa điểm đến</h4>
                    </div>
                    <div class="modal-body">
                        <h5>Miền Bắc</h5>
                        <div ng-repeat='FlightArriveMB in FlightArriveMBs'>
                            <a ng-click="setFlightArrive(FlightArriveMB.MaSanBay,FlightArriveMB.TenSanBay)" href="" data-dismiss="modal">{{FlightArriveMB.TenSanBay}}</a>
                        </div>

                        <h5>Miền Trung</h5>
                        <div ng-repeat='FlightArriveMT in FlightArriveMTs'>
                            <a ng-click="setFlightArrive(FlightArriveMT.MaSanBay,FlightArriveMT.TenSanBay)" href="" data-dismiss="modal">{{FlightArriveMT.TenSanBay}}</a>
                        </div>

                        <h5>Miền Nam</h5>
                        <div ng-repeat='FlightArriveMN in FlightArriveMNs'>
                            <a ng-click="setFlightArrive(FlightArriveMN.MaSanBay,FlightArriveMN.TenSanBay)" href="" data-dismiss="modal">{{FlightArriveMN.TenSanBay}}</a>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal Flight Confirm -->
    <div id="thanhcong" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">THÔNG BÁO</h2>
                </div>
                <div class="modal-body">
                    <h3>BẠN ĐÃ TẠO MỚI THÀNH CÔNG</h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>

        </div>
    </div>

    <!-- Modal Flight Confirm -->
    <div id="xoa" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">THÔNG BÁO</h2>
                </div>
                <div class="modal-body">
                    <h3>BẠN ĐÃ XÓA THÀNH CÔNG</h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>

        </div>
    </div>

    <!-- Modal Flight Confirm -->
    <div id="sua" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">THÔNG BÁO</h2>
                </div>
                <div class="modal-body">
                    <h3>BẠN ĐÃ SỬA THÀNH CÔNG</h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>

        </div>
    </div>


    <script src="../components/version/version.js"></script>
    <script src="../components/version/version-directive.js"></script>
    <script src="../components/version/interpolate-filter.js"></script>
</body>
</html>