/* app css stylesheet */
.myBody {
  background-color: #e6e1da !important;
  min-height: 1000px;
  height: auto;
  width: 1000px !important;
  margin: auto;

}

.row{
  width: 1000px;
  margin: auto;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

/*Custom style*/

.tag{
  background-color: #0581a5;
  text-align: center;
  font-weight: bold;
  color: white;
  border: 1px solid black;
}

.btn-category-ticket{
  margin-top: 10px;
}

.flight-to{
  margin-top: 30px;
}

.flight-to-text{
  font-size: medium;
  font-weight: bold;
}

.hResult{
  text-align: center;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #000;
  border-right-width:1px;
  border-left-width:1px;
}

.table{
  width: 980px;
}

.table-result{
  margin-left: 10px;
}

.row-title{
  background-color: #0581a5;
  text-align: center;
  font-weight: bold;
  color: white;
}

.mybtn{
  width: 150px;
}

.myRow{
  height: 50px;
  width: auto;
}

.my-P{
  margin-left: 15px;
  margin-top: 30px;
  font-weight: bold;
  font-size: medium;
}

.mybtn-customer{
  margin-top: 30px;
  margin-left: 730px;
}

.mypConfirm{
  margin-left: 15px;
  margin-top: 30px;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.mybtn-confirm{
  margin-top: 30px;
  margin-left: 860px;
}

.btn-admin{
  margin-left: 850px;
  width: auto;
}

.row-item{
  text-align: center;
}