<!-- Team Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Thông tin mua vé của khách hàng</h2>
                <h3 class="section-subheading text-muted">Quý khách vui lòng xác nhận lại vé đã đặt và chọn xác nhận.</h3>
            </div>
        </div>
        <p>Danh Xưng: {{danhXung}}</p>
        <p>Tên: {{ho}} {{ten}}</p>
        <table class="responstable">
            <tbody><tr>
                <th>Mã chuyến bay</th>
                <th>Giờ khởi hành</th>
                <th>Giờ đến nơi</th>
                <th>Loại vé</th>
                <th>Giá vé</th>
            </tr>
            <tr >
                <td>{{MCBDI}}</td>
                <td>{{GKHDI}}</td>
                <td>{{GDNDI}}</td>
                <td>{{LVDI}}</td>
                <td>{{GVDI}}</td>
            </tr><tr >
                <td>{{MCBDEN}}</td>
                <td>{{GKHDEN}}</td>
                <td>{{GDNDEN}}</td>
                <td>{{LVDEN}}</td>
                <td>{{GVDEN}}</td>
            </tr>
            </tbody></table>

        <div class="row my-btn-search">
            <button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target="#myModalFlightConfirm" ng-click="confirm()">XÁC NHẬN</button>
        </div>
    </div>
</section>

<!-- Modal Flight Confirm -->
<div id="myModalFlightConfirm" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">THÔNG BÁO</h2>
            </div>
            <div class="modal-body">
                <h3>QUÝ KHÁCH ĐÃ ĐẶT VÉ THÀNH CÔNG</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>

    </div>
</div>
