<!-- About Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Thông Tin Khách Hàng</h2>
                <h3 class="section-subheading text-muted">Quý khách vui lòng điền đầy đủ thông tin vào bên dưới.</h3>
            </div>
        </div>

        <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Danh Xưng</label>
            <div class="col-10">
                <input class="form-control" type="text" placeholder="Nhập danh xưng" id="example-text-input" ng-model="danhXung">
            </div>
        </div>

        <div class="form-group row">
            <label for="example-text-input1" class="col-2 col-form-label">Họ</label>
            <div class="col-10">
                <input class="form-control" type="text" placeholder="Nhập họ" id="example-text-input1" ng-model="ho">
            </div>
        </div>

        <div class="form-group row">
            <label for="example-text-input2" class="col-2 col-form-label">Tên</label>
            <div class="col-10">
                <input class="form-control" type="text" placeholder="Nhập tên" id="example-text-input2" ng-model="ten">
            </div>
        </div>

        <div class="form-group row">
            <label for="example-text-input3" class="col-2 col-form-label">Số điện thoại</label>
            <div class="col-10">
                <input class="form-control" type="text" placeholder="Nhập số điện thoại" id="example-text-input3" ng-model="sodienthoai">
            </div>
        </div>

        <div class="row my-btn-search">
            <a href="#confirm" class="btn btn-info btn-lg btn-block" role="button" ng-click="getInfoCustomer()">TIẾP THEO</a>
        </div>
    </div>
</section>