<section id="history" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Lịch sử mua vé</h2>
                <h3 class="section-subheading text-muted">Lịch sử mua vé của quý khách ở bên dưới.</h3>
            </div>
        </div>

        <div class="row table-result">
            <div >
                <table class="responstable">
                    <tr>
                        <th>Tên sân bay đi</th>
                        <th>Tên sân bay đến</th>
                        <th>Ngày bay</th>
                        <th>Giờ khởi hành</th>
                        <th>Số lượng người</th>
                        <th>Tổng tiền</th>
                    </tr>
                    <tr class="row-item">
                        <td>Hồ Chí Minh</td>
                        <td>Hà Nội</td>
                        <td>1/11/2016</td>
                        <td>9:45</td>
                        <td>3</td>
                        <td>9000000</td>
                    </tr>
                    <tr class="row-item">
                        <td>Hồ Chí Minh</td>
                        <td>Hà Nội</td>
                        <td>1/11/2016</td>
                        <td>8:45</td>
                        <td>3</td>
                        <td>12000000</td>
                    </tr>
                    <!--<tr ng-repeat="Flight in FlightHistory" class="row-item">-->
                        <!--<td>{{Flight.TenSanBayDi}}</td>-->
                        <!--<td>{{Flight.TenSanBayDen}}</td>-->
                        <!--<td>{{Flight.Ngay}}</td>-->
                        <!--<td>{{Flight.GioKhoiHanh}}</td>-->
                        <!--<td>{{Flight.SoNguoi}}</td>-->
                        <!--<td>{{Flight.TongTien}}</td>-->
                    <!--</tr>-->
                </table>

            </div>
        </div>
    </div>
</section>