<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Kết quả tìm kiếm</h2>
                <h3 class="section-subheading text-muted">Quý khách vui lòng lựa chọn chuyến bay muốn đi và chọn tiếp theo.</h3>
            </div>
        </div>

        <div class="row table-result">
            <div >
                <div>
                    <h3>Lựa chọn CHUYẾN BAY CHIỀU ĐI</h3>
                    <p>{{go}}({{goID}}) đến {{arrive}}({{arriveID}})</p>
                </div>
                <table class="responstable">
                    <tr>
                        <th>Mã chuyến bay</th>
                        <th>Giờ khởi hành</th>
                        <th>Giờ đến nơi</th>
                        <th>Loại vé</th>
                        <th>Giá vé</th>
                    </tr>
                    <tr ng-repeat="FlightGo in FlightGoS" class="row-item">
                        <td>{{FlightGo.MaChuyenBay}}</td>
                        <td>{{FlightGo.GioKhoiHanh}}</td>
                        <td>{{FlightGo.GioDen}}</td>
                        <td>{{FlightGo.MucGia}}</td>
                        <td>{{FlightGo.GiaBan}} <input type="radio" name="group1" ng-click="getTicketTo(FlightGo.GiaBan, FlightGo)"></td>
                    </tr>
                </table>

            </div>

            <div ng-class="isVisibleProfile">
                <div>
                    <h3>Lựa chọn CHUYẾN BAY CHIỀU VỀ</h3>
                    <p>{{arrive}}({{arriveID}}) đến {{go}}({{goID}})</p>
                </div>
                <table class="responstable">
                    <tr >
                        <th>Mã chuyến bay</th>
                        <th>Giờ khởi hành</th>
                        <th>Giờ đến nơi</th>
                        <th>Loại vé</th>
                        <th>Giá vé</th>
                    </tr>
                    <tr ng-repeat="FlightArrive in FlightArriveS" class="row-item">
                        <td>{{FlightArrive.MaChuyenBay}}</td>
                        <td>{{FlightArrive.GioKhoiHanh}}</td>
                        <td>{{FlightArrive.GioDen}}</td>
                        <td>{{FlightArrive.MucGia}}</td>
                        <td>{{FlightArrive.GiaBan}} <input type="radio" name="group2" ng-click="getTicketArrive(FlightArrive.GiaBan, FlightArrive)"></td>
                    </tr>
                </table>
            </div>

            <div class="row my-btn-search">
                <a role="button" class="btn btn-info btn-lg btn-block" ng-click="getMDC()" href="#customer">TIẾP THEO</a>
            </div>
        </div>
    </div>
</section>

