<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bán Vé Máy Bay Trực Tuyến</title>
    <link rel="icon" href="img/about/2.jpg">
    <!-- Bootstrap Core CSS -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="bower_components/ngDatepicker/src/css/ngDatepicker.css">

    <!-- Theme CSS -->
    <link href="css/agency.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <meta name="google-signin-client_id" content="787572219193-35mu063ckehtq9bfg01j1qpqjcfoe4uk.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<body id="page-top" class="index" ng-controller="appController">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Airline Ticket</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Mua vé</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio" ng-class="isPortfolio">{{portfolio}}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Liên hệ</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#home" ng-click="navigationUrl()">Quản lý chuyến bay</a>
                    </li>
                    <li ng-class="isLogout">
                        <a class="page-scroll" href="#history" ng-click="getHistory()">Lịch sử mua vé</a>
                    </li>
                    <li ng-class="isLogout">
                        <a href="#home" onclick="signOut();">Đăng xuất</a>
                    </li>
                    <li ng-class="isLogin">
                        <div class="g-signin2 myGoogle" data-onsuccess="onSignIn"></div>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in my-intro">Airline Ticket</div>
                <div class="intro-heading my-intro"> Chào Mừng Quý Khách</div>
                <a href="#services" class="page-scroll btn btn-xl">Đặt Vé Ngay</a>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Mua vé</h2>
                    <h3 class="section-subheading text-muted">Quý khách vui lòng nhập vào đầy đủ thông tin bên dưới để tìm kiếm chuyến bay phù hợp.</h3>
                    <div class="btn-group" data-toggle="buttons">
                            <button type="button" class="btn" ng-class="isChooseKH" ng-click="setFlightDirectionKH()"> Khứa hồi</button>
                            <button type="button" class="btn" ng-class="isChooseMC" ng-click="setFlightDirectionMC()"/> Một chiều</button>
                    </div>
                </div>
            </div>

            <div class="row form-my-margin">
                <div class="col-md-6">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon">Địa điểm đi</div>
                        <input type="text" class="form-control" disabled value="{{go}}">
                    </div>
                    <button type="button" class="btn btn-info form-control" data-toggle="modal" data-target="#myModalFlightTo" ng-click="loadFlightTo()">Chọn điểm đi</button>
                </div>
                <div class="col-md-6">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon">Địa điểm đến</div>
                        <input type="text" class="form-control" disabled value="{{arrive}}">
                    </div>
                    <button type="button" class="btn btn-info form-control" data-toggle="modal" data-target="#myModalFlightArrive" ng-click="loadFlightArrive()" id="DiemDen">Chọn điểm đến</button>
                </div>
            </div>

            <div class="row form-my-margin">
                <div class="col-md-6">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon">Ngày đi</div>
                        <input class="form-control" value="2011-08-19" type="date" ng-model="flight.dateTo">
                    </div>
                </div>
                <div class="col-md-6" ng-class="isVisibleProfile">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon">Ngày về</div>
                        <input class="form-control" type="date" ng-model="flight.dateArrive">
                    </div>
                </div>
            </div>

            <div class="row form-my-margin">
                <div class="col-md-6">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon">Số lượng người</div>
                        <select class="form-control" ng-model="flight.people">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon">Hạng vé</div>
                        <select class="form-control" ng-model="flight.ticketCategories" >
                            <option>Y</option>
                            <option>C</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row my-btn-search messageError">
                <p>{{messageError}}</p>
            </div>

            <div class="row my-btn-search">
                <a type="button" class="btn btn-info btn-lg btn-block page-scroll" ng-click="find(flight)" href="#portfolio">TÌM KIẾM</a></a>
            </div>
        </div>
    </section>

    <div ng-view autoscroll=false></div>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Liên hệ</h2>
                    <h3 class="section-subheading text-muted">Quý khách gửi phản hồi hoặc liên hệ qua email.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Tên của bạn" id="name" required data-validation-required-message="Please enter your name.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email của bạn" id="email" required data-validation-required-message="Please enter your email address.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Số điện thoại" id="phone" required data-validation-required-message="Please enter your phone number.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Nội dung liên hệ" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Gửi</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; 2016</span>
                </div>
            </div>
        </div>
    </footer>

    <!-- Modal Flight To -->
    <div id="myModalFlightTo" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Mời quý khách chọn địa điểm đi</h4>
                </div>
                <div class="modal-body">
                    <h5>Miền Bắc</h5>
                    <div ng-repeat='FlightToMB in FlightToMBs'>
                        <a ng-click="setFlightTo(FlightToMB.MaSanBay,FlightToMB.TenSanBay)" href="" data-dismiss="modal">{{FlightToMB.TenSanBay}}</a>
                    </div>

                    <h5>Miền Trung</h5>
                    <div ng-repeat='FlightToMT in FlightToMTs'>
                        <a ng-click="setFlightTo(FlightToMT.MaSanBay,FlightToMT.TenSanBay)" href="" data-dismiss="modal">{{FlightToMT.TenSanBay}}</a>
                    </div>

                    <h5>Miền Nam</h5>
                    <div ng-repeat='FlightToMN in FlightToMNs'>
                        <a ng-click="setFlightTo(FlightToMN.MaSanBay,FlightToMN.TenSanBay)" href="" data-dismiss="modal">{{FlightToMN.TenSanBay}}</a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>

        </div>
    </div>

    <!-- Modal Flight Arrive -->
    <div id="myModalFlightArrive" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Mời quý khách chọn địa điểm đến</h4>
                </div>
                <div class="modal-body">
                    <h5>Miền Bắc</h5>
                    <div ng-repeat='FlightArriveMB in FlightArriveMBs'>
                        <a ng-click="setFlightArrive(FlightArriveMB.MaSanBay,FlightArriveMB.TenSanBay)" href="" data-dismiss="modal">{{FlightArriveMB.TenSanBay}}</a>
                    </div>

                    <h5>Miền Trung</h5>
                    <div ng-repeat='FlightArriveMT in FlightArriveMTs'>
                        <a ng-click="setFlightArrive(FlightArriveMT.MaSanBay,FlightArriveMT.TenSanBay)" href="" data-dismiss="modal">{{FlightArriveMT.TenSanBay}}</a>
                    </div>

                    <h5>Miền Nam</h5>
                    <div ng-repeat='FlightArriveMN in FlightArriveMNs'>
                        <a ng-click="setFlightArrive(FlightArriveMN.MaSanBay,FlightArriveMN.TenSanBay)" href="" data-dismiss="modal">{{FlightArriveMN.TenSanBay}}</a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>

        </div>
    </div>

    <!-- Modal Flight Arrive -->
    <div id="myLogin" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Mời quý khách đăng nhập bằng Facebook</h4>

                </div>
                <div class="modal-body">
                </div>
            </div>

        </div>
    </div>

    <script>
        function logoutFacebook(){
            if (FB.getAccessToken() != null){
                FB.logout(FB.getAccessToken(),function(response) {
                    console.log('User log out');
                });
            }
        }
    </script>

    <script>
        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
            console.log('Name: ' + profile.getName());
            console.log('Image URL: ' + profile.getImageUrl());
            console.log('Email: ' + profile.getEmail());
            var id_token = googleUser.getAuthResponse().id_token;
            console.log('Token: ' +id_token);
            console.log("user "+googleUser);
            if (googleUser != null){
                localStorage.setItem("isLogin", 1);
            }
            var temp = localStorage.getItem("load");
            if (temp == 1){
                location.reload();
                localStorage.setItem("load", 0);
            }
            localStorage.setItem("idToken", id_token);
        }

        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
                localStorage.setItem("isLogin", 0);
                location.reload();
                localStorage.setItem("load", 1);
            });
        }
    </script>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <!-- jQuery -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/agency.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="bower_components/ngDatepicker/src/js/ngDatepicker.min.js"></script>
    <script src="js/app.js"></script>
    <script src="components/version/version.js"></script>
    <script src="components/version/version-directive.js"></script>
    <script src="components/version/interpolate-filter.js"></script>
</body>

</html>
