#mess{
    font-size: 16px;
    font-weight: bold;
    margin-left: 37px;
}

#signupbtn{
    margin-left: 300px;
    margin-top: 15px;
}

#signinbtn{
    margin-top: 15px;
}

#signup,#name,#pass,#signupb {
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

#logint:hover {
    text-decoration: underline;
}

#logint {
    color: rgba(66, 134, 237, 0.78);
    cursor: pointer;
    text-decoration: none;
    width: 100%;
    margin: -4px 37px;
    font-size: 14px;
    opacity: 1;
}

#name {
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 0 8px;
    margin: 44px auto;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid silver;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    color: #838383;
    width: 409px;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    direction: ltr;
    height: 44px;
    font-size: 16px;
    text-align: left;
}

#pass {
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 0 8px;
    margin: 16px auto;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid silver;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    color: #838383;
    width: 409px;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    direction: ltr;
    height: 44px;
    font-size: 16px;
    text-align: left;
}

#name:hover,#pass:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

#signup {
    margin: 0px;
    padding: 3px 0px 9px;
    color: rgb(255, 255, 255);
    font-size: 32px;
    width: 100%;
    text-align: center;
    font-weight: normal;
    background: #76ABDB;
    font-size: 22px;
}



#userbox {
    position: absolute;
    width: 480px;
    height: 300px;
    background: white;
    top: 50%;
    margin-top: -174px;
    left: 50%;
    margin-left: -240px;
    box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.45);
}

#logmsk {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.32);
    box-shadow: inset 0 0 376px rgba(0, 0, 0, 0.22);
    z-index: 9999;
    display: none;
    display: block;
}

body {
    width: 100%;
    height: 100%;
    min-width: 300px;
    min-height: 500px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: absolute;
    background: #fff;
    color: #333;
}

body,input,select,td,textarea {
    font-family: "Open Sans",sans-serif;
}

.table-result{
    margin-left: 10px;
}

.bt{
    margin-left: 40px;
}