<!DOCTYPE html >
<html >
<head>
    <meta charset="UTF-8">
    <title>Login Admin</title>
    <link rel="stylesheet" href="login.css">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="../bower_components/html5-boilerplate/dist/css/main.css">
    <link href="../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body ng-app="myAppLogin" ng-controller="appControllerLogin">

<div id="logmsk">
    <div id="userbox">
        <h1 id="signup">Đăng nhập tài khoản hệ thống</h1>

        <form >
            <input id="name" placeholder="Tên đăng nhập" type="text" ng-model="email">
            <input id="pass" type="password" placeholder="Mật khẩu" ng-model="password">
            <p id="mess"> {{mess}}</p>
            <button id="signinbtn" type="button" class="btn btn-success bt" ng-click="signin()">Đăng nhập</button>
        </form>
    </div>
</div>

<script src="login.js"></script>


<script src="../components/version/version.js"></script>
<script src="../components/version/version-directive.js"></script>
<script src="../components/version/interpolate-filter.js"></script>
</body>
</html>